@font-face {
    font-family: poppins-semibold;
    src: url('../font/Poppins-semibold.ttf');
}

@font-face{
    font-family: numito-regular;
    src: url('../font/Nunito-Regular.ttf');
}   

@font-face{
    font-family: numito-semibold;
    src: url('../font/Nunito-bold.ttf');
}

@font-face{
    font-family: numito-medium;
    src: url('../font/Nunito-Medium.ttf');
}

body {
    background-color: #f7f7f7;
    font-family: numito-regular;
}

:root{
    --bs-color-primary: #FC4c02;
    --bs-color-gray: #6f6f6f;
    --bs-color-dark-red: #b72009;
}

.hero-text-content h1 {
    font-family: poppins-semibold;
    font-size: 3rem;
}

.badge-primary {
    width: max-content;
    background-color: #41B774;
    font-size: 14px;
}

.badge-danger {
    width: max-content;
    background-color: #d75858;
    font-size: 14px;
}

@media screen and (max-width: 767px) {
    .hero-text-content h1 {
        font-size: 1.9rem;
    }
}

.n-semibold {
    font-family: numito-semibold;
}

.n-medium {
    font-family: numito-medium;
}

.color-org {
    color: var(--bs-color-primary);
}
.color-org:hover {
    color: var(--bs-color-primary);
}

.color-gray {
    color: var(--bs-color-gray);
}

.bg-org {
    background-color: var(--bs-color-primary);
}

.btn.btn-primary{
    background: var(--bs-color-primary);
    cursor: pointer;
}

.btn.btn-primary:active{
    background: #ee4802 !important;
}

.btn.btn-primary:disabled{
    background: #363636;
    border: #363636;
    cursor: not-allowed !important;
    pointer-events: visible;
}
.btn.btn-primary:disabled:active{
    background: #363636 !important;
    border: #363636 !important;
    cursor: not-allowed !important;
}

.form-control:focus, .form-select:focus {
    box-shadow: none;
    border-color: #dee2e6;
}

.wishlist {
    border-color: #cacaca !important;
}
.wishlist:hover, .btn.btn-primary:active {
    background: var(--bs-color-dark-red) !important;
    border-color: var(--bs-color-dark-red) !important;
    color: white !important;
}

.wishlist > img {
    filter: brightness(0) invert(0.4);
}

.wishlist.active > img {
    filter: none;
}

.wishlist:hover > img {
    filter: brightness(0) invert(1);
    border: none;
}

.dropdown-menu {
    min-width: 19rem !important;
}

.dropdown-item:active {
    background: var(--bs-color-primary);
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.productDesc {
    font-size: 12px;
}

.navbar-toggler {
    border: 0;
}

.text-header-product {
    font-size: 13.4px;
    line-height: 1.2;
    overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  text-decoration: none;
}

.text-header-product:hover {
    text-decoration: underline;
}

.text-release {
    font-size: 12px;
    color: #989898;
    font-family: numito-medium;
}

.mt-10 {
    margin-top: 90px;
}

.select-courier optgroup {
    font-family: numito-semibold;
}

.select-courier optgroup option {
    font-family: numito-medium;
}

.product-view-details li p {
    font-size: 14px;
    margin-right: 15px;
    width: 96px;
}

.skeleton-loader {
    width: 80px;
    height: 20px;
    background: #e2e2e2;
    color: transparent;
    position: relative;
    overflow: hidden;
}

.product-view-details li .info a {
    color: red;
    font-size: 14px;
    padding: 6px 16px;
    background: #ebeced;
    color: var(--bs-color-gray);
    line-height: 0.86;
    letter-spacing: -0.23px;
}
.product-view-details li .info a {
    font-size: 14px;
    padding: 6px 16px;
    background: #ebeced;
    line-height: 0.86;
    letter-spacing: -0.23px;
}

.product-view-details li .info a:hover {
    background: #ebeced;
    color: white;
    background: var(--bs-color-primary);
}

.btnQtyCart {
    background: none;
    border: none;
}

.select2-results__option:nth-child(1) {
    margin-top: 6px;
}
.select2-results__option:hover {
    color: black !important;
    background-color: #ccf1ee !important;
}

.select2-container--open .select2-dropdown--below{
    border-top: 1px solid #aaa;
    border-radius: 5px;
}

.select2 {
    position: absolute;
    top: 45px;
    z-index: -1;
}

.qty_product input {
    width: 22px;
}

/* Transaksi  */
.nav-tabs {
    border-bottom: none;
 }

 .tab-content {
    border: none !important;
 }
 
 .nav-tabs .nav-link {
    border: none;
    color: #333;
    padding: 10px;
    margin-right: 5px;
    background-color: #fff;
    border-radius: 0;
    transition: color 0.4s;

 }

 .nav-tabs .nav-link:hover {
    color: var(--bs-color-primary);
 }
 
 .nav-tabs .nav-link.active {
    border: none;
    color: var(--bs-color-primary);
    background-color: #fff;
    border-bottom: 2px solid var(--bs-color-primary);
 }
 
 .tab-content {
    border: 1px solid #ddd;
    padding: 20px;
    border-top: none;
 }

 .address-page-main, .address-page-all {
    border: solid 1.7px #d1d1d1;
 }

 .address-page-main h5, .address-page-all h5, .metode-payment-page p, .header-detail-pesanan p, .pesanan-produk-detail p, .content-page-payment-details .detail p, .content-page-payment-details .detail span {
    font-size: 14px;
 }
 .address-page-main p, .address-page-all p, .address-page-detail button, .address-page-content p, #select-courier, #select-layanan {
    font-size: 12px;
 }


 /* end transaksi  */