@font-face {
    font-family: poppins-semibold;
    src: url('../font/Poppins-semibold.ttf');
}

@font-face{
    font-family: numito-regular;
    src: url('../font/Nunito-Regular.ttf');
}   

@font-face{
    font-family: numito-semibold;
    src: url('../font/Nunito-bold.ttf');
}

@font-face{
    font-family: numito-medium;
    src: url('../font/Nunito-Medium.ttf');
}

body {
    background-color: #f7f7f7;
    font-family: numito-regular;
}

:root{
    --bs-color-primary: #FC4c02;
    --bs-color-gray: #6f6f6f;
    --bs-color-dark-red: #b72009;
}

.hero-text-content h1 {
    font-family: poppins-semibold;
    font-size: 3rem;
}

.badge-primary {
    width: max-content;
    background-color: #41B774;
    font-size: 14px;
}

.badge-danger {
    width: max-content;
    background-color: #d75858;
    font-size: 14px;
}

@media screen and (max-width: 767px) {
    .hero-text-content h1 {
        font-size: 1.9rem;
    }
}

.n-semibold {
    font-family: numito-semibold;
}

.n-medium {
    font-family: numito-medium;
}

.color-org {
    color: var(--bs-color-primary);
}
.color-org:hover {
    color: var(--bs-color-primary);
}

.color-gray {
    color: var(--bs-color-gray);
}

.bg-org {
    background-color: var(--bs-color-primary);
}

.btn.btn-primary{
    background: var(--bs-color-primary);
    cursor: pointer;
}

.btn.btn-primary:active{
    background: #ee4802 !important;
}

.btn.btn-primary:disabled{
    background: #363636;
    border: #363636;
    cursor: not-allowed !important;
    pointer-events: visible;
}
.btn.btn-primary:disabled:active{
    background: #363636 !important;
    border: #363636 !important;
    cursor: not-allowed !important;
}

.form-control:focus {
    box-shadow: none;
    border-color: #dee2e6;
}

.wishlist {
    border-color: #cacaca !important;
}
.wishlist:hover, .btn.btn-primary:active {
    background: var(--bs-color-dark-red) !important;
    border-color: var(--bs-color-dark-red) !important;
    color: white !important;
}

.wishlist > img {
    filter: brightness(0) invert(0.4);
}

.wishlist.active > img {
    filter: none;
}

.wishlist:hover > img {
    filter: brightness(0) invert(1);
    border: none;
}

.dropdown-menu {
    min-width: 19rem !important;
}

.dropdown-item:active {
    background: var(--bs-color-primary);
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.productDesc {
    font-size: 12px;
}

.navbar-toggler {
    border: 0;
}

.text-header-product {
    font-size: 13.4px;
    line-height: 1.2;
    overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}

.text-release {
    font-size: 12px;
    color: #989898;
    font-family: numito-medium;
}

.mt-10 {
    margin-top: 90px;
}

.product-view-details li p {
    font-size: 14px;
    margin-right: 15px;
    width: 96px;
}

.product-view-details li .info a {
    color: red;
    font-size: 14px;
    padding: 6px 16px;
    background: #ebeced;
    color: var(--bs-color-gray);
    line-height: 0.86;
    letter-spacing: -0.23px;
}
.product-view-details li .info a {
    font-size: 14px;
    padding: 6px 16px;
    background: #ebeced;
    line-height: 0.86;
    letter-spacing: -0.23px;
}

.product-view-details li .info a:hover {
    background: #ebeced;
    color: white;
    background: var(--bs-color-primary);
}
